/* MainContent.css */

.main-container {
    display: flex;
    flex-direction: column;
    background-color: #ff0;
    gap: 16px;
    margin-top: 80px;
  }
  
  .header {
    text-align: center;
  }
  
  .filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  .cell-image {
    width: 100%; 
    height: auto; 
    border-radius: 4px; 
    margin-bottom: 16px; 
  }
  

